.lineCont {
    height: 507.5232px;
    padding-top: 327.6768px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.line {
    stroke: #0066FF4D;
    stroke-width: 11;
}

.curveCont {
    height: 361.92px;
    padding-top: 473.28px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.curve,.sideCurve,.sCurve {
    stroke: #0066FF4D;
    stroke-width: 11;
    fill: transparent;
}

.sideCurveCont {
    height: 570.72px;
    padding-top: 264.48px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

.sCurveCont {
    height: 570.72px;
    padding-top: 264.48px;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}